node_modules
dist
.DS_Store
server/public
vite.config.ts.*
*.tar.gz
.env
*.log
.gemini/
gha-creds-*.json
images/Screenshots/*
migrations/meta/
qbittorrent-downloads/
qbittorrent-config/
transmission-downloads/
transmission-config/
